.blog {
  padding: 60px 0;
  background-color: #fff;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.blog-item {
  background-color: white;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  max-width: calc(33.333% - 20px);
  width: 30%;
}

.blog-item:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.blog-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blog-content h3 {
  color: #2d3954;
  font-size: 20px;
  margin-bottom: 10px;
}

.blog-content p {
  color: #72809d;
  font-size: 14px;
  margin-bottom: 10px;
}

.blog-date {
  color: #e71c7a;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .blog-item {
    flex: 1 1 calc(48% - 20px);
    /* 2 columns for medium screens */
    max-width: calc(48% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .blog-item {
    flex: 1 1 100%;
    /* 1 column for small screens */
    max-width: 100%;
  }

  .blog-list {
    justify-content: center;
    /* Center the items on small screens */
  }
}

@media screen and (max-width: 500px) {
  .blog {
    padding: 40px 10px;
    /* Reduce padding for smaller screens */
  }

  .blog-item {
    padding: 15px;
    /* Reduce padding inside the blog items */
  }

  .blog-img {
    height: 150px;
    /* Reduce image height for smaller screens */
  }

  .blog-content h3 {
    font-size: 18px;
    /* Adjust heading size */
  }

  .blog-content p {
    font-size: 13px;
    /* Adjust text size */
  }
}